@model EFLayer.Class.Gonderiler

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/UILayout.cshtml";
}

<h1>Edit</h1>

<h4>Gonderiler</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GonderiId" />
            <div class="form-group">
                <label asp-for="GonderiName" class="control-label"></label>
                <input asp-for="GonderiName" class="form-control" />
                <span asp-validation-for="GonderiName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kategoriId" class="control-label"></label>
                <input asp-for="kategoriId" class="form-control" />
                <span asp-validation-for="kategoriId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

