@model EFLayer.Class.User

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/site.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<h2 style="font-size:xx-large; color:white">Kayıt Ekranı</h2>
<hr />

<div class="div">
    <form asp-action="Create" class="form-control bg-transparent" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="div2">

            <div class="input-with-button">
                @*  <label class="lbl-text">Ad:</label> *@
                <input asp-for="Name" class="txt-text" placeholder="Ad" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="div2">

            <div class="input-with-button">
                @* <label class="lbl-text">Soyad:</label> *@
                <input asp-for="SurName" class="txt-text" placeholder="Soyad" />
            </div>
            <span asp-validation-for="SurName" class="text-danger"></span>
        </div>
        <div class="div2">

            <div class="input-with-button">
                @* <label class="lbl-text">Kullanıcı Adı:</label>  *@
                <input asp-for="UserAdi" class="txt-text" placeholder="Kullanıcı Adı" />
            </div>
            <span asp-validation-for="UserAdi" class="text-danger"></span>
        </div>
        <div class="div2">

            <div class="input-with-button">
                @* <label class="lbl-text">Şifre:</label>  *@
                <input asp-for="Password" class="txt-text" type="password" id="passwordField" placeholder="şifre" />
                <button class="btn-img bg-transparent" type="button" id="togglePasswordButton" style="background-color:black">
                    <img src="~/web/şifregizleme1.png" />
                </button>
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>




        <div class="form-group">
            <button class="btn" type="submit">Kayıt Ol</button>
        </div>
        <label class="lbl1-text">Bir Hesabınız var mı?</label>
        <div>
            <a class="btn" asp-action="Index" asp-controller="Login">Giriş Yap</a>
        </div>

        <div class="login-agileits-bottom1">
            <h3>Veya</h3>

        </div>

        <div class="social_icons agileinfo">
            <ul class="top-links">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.google.com/"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
    </form>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var passwordField = document.getElementById('passwordField');
        var togglePasswordButton = document.getElementById('togglePasswordButton');

        togglePasswordButton.addEventListener('click', function () {
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
            } else {
                passwordField.type = 'password';
            }
        });
    });

    @if (ViewBag.KayitBasarili != null && (bool)ViewBag.KayitBasarili)
    {
        <text>
            Swal.fire({
                icon: 'success',
                title: 'Başarılı!',
                text: 'Kullanıcı kaydınız başarıyla tamamlandı.',
            }).then(function () {
                window.location.href = '@Url.Action("Index", "Login")'});

        </text>
    }
</script>
