@model EFLayer.Class.User

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@* 
<link href="~/css/site.css" rel="stylesheet" />


<h2 style="font-size:xx-large; color:white">Kayıt</h2>
<hr />

<div class="div">
    <form asp-action="Create" class="form-control bg-transparent">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="div2">

            <div class="input-with-button">
                @* <label class="lbl-text">Ad:</label> 
                <input asp-for="Name" class="txt-text" placeholder="Ad" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="div2">

            <div class="input-with-button">
                @* <label class="lbl-text">Soyad:</label> 
                <input asp-for="SurName" class="txt-text" placeholder="Soyad" />
            </div>
            <span asp-validation-for="SurName" class="text-danger"></span>
        </div>
        <div class="div2">

          <div class="input-with-button">
         @* <label class="lbl-text">Kullanıcı Adı:</label>  
        <input asp-for="UserAdi" class="txt-text" placeholder="Kullanıcı Adı" />
        </div>
            <span asp-validation-for="UserAdi" class="text-danger"></span>
        </div>
        <div class="div2">

        <div class="input-with-button">
          @* <label class="lbl-text">Şifre:</label>  
        <input asp-for="Password" class="txt-text" type="password" id="passwordField" placeholder="şifre" />
        <button class="btn-img bg-transparent" type="button" id="togglePasswordButton" style="background-color:black">
        <img src="~/web/şifregizleme1.png" />
        </button>
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
        </div>   


        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var passwordField = document.getElementById('passwordField');
                var togglePasswordButton = document.getElementById('togglePasswordButton');

                togglePasswordButton.addEventListener('click', function () {
                    if (passwordField.type === 'password') {
                        passwordField.type = 'text';
                    } else {
                        passwordField.type = 'password';
                    }
                });
            });
        </script>

        <div class="form-group">
            <a class="btn" asp-action="Create" asp-controller="Register">Kayıt Ol</a>
        </div>
        <label class="lbl1-text">Bir Hesabınız var mı?</label>
        <div>
            <a class="btn" asp-action="Index" asp-controller="Login">Giriş Yap</a>
        </div>

        <div class="login-agileits-bottom1">
            <h3>Veya</h3>

        </div>

        <div class="social_icons agileinfo">
            <ul class="top-links">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.google.com/"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
    </form>
</div>
</> *@

@* <h1>Hoşgeldiniz</h1>
<div class="main-w3lsrow">
	<!-- login form -->
	<div class="login-form login-form-left">

		<div class="agile-row">
			<h2>Kayıt Paneli</h2>
			<div class="login-agileits-top">

				<form asp-action="Index" method="post">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="div2">

						<div class="input-with-button">
							@* <label class="lbl-text">Ad:</label> 
							<input asp-for="Name" class="txt-text" placeholder="Ad" />
						</div>
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>
					<div class="div2">

						<div class="input-with-button">
							@* <label class="lbl-text">Soyad:</label> 
							<input asp-for="SurName" class="txt-text" placeholder="Soyad" />
						</div>
						<span asp-validation-for="SurName" class="text-danger"></span>
					</div>
					<div class="form-group">
						@* <label asp-for="girisKullaniciAdi" class="control-label"></label> 
						<input asp-for="UserAdi" class="form-control" placeholder="Kullanıcı Adı" />
						<span asp-validation-for="UserAdi" class="text-danger"></span>
					</div>
					<div class="div2">

						<div class="input-with-button">
							@* <label class="lbl-text">Şifre:</label>  
							<input asp-for="Password" class="txt-text" type="password" id="passwordField" placeholder="şifre" />
							<button class="btn-img bg-transparent" type="button" id="togglePasswordButton" style="background-color:black">
								<img src="~/web/şifregizleme1.png" />
							</button>
						</div>
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>
					<script>
						document.addEventListener('DOMContentLoaded', function () {
							var passwordField = document.getElementById('passwordField');
							var togglePasswordButton = document.getElementById('togglePasswordButton');

							togglePasswordButton.addEventListener('click', function () {
								if (passwordField.type === 'password') {
									passwordField.type = 'text';
								} else {
									passwordField.type = 'password';
								}
							});
						});
					</script>

					<div class="form-group">
						<a class="btn" asp-action="Create" asp-controller="Register">Kayıt Ol</a>
					</div>
					<label class="lbl1-text">Bir Hesabınız var mı?</label>
					<div>
						<a class="btn" asp-action="Index" asp-controller="Login">Giriş Yap</a>
					</div>

					@* <div class="form-group">
						<input type="submit" value="Kayıt Ol" asp-action="Create" asp-controller="Register" />
						<p style="text-align: center">Bir hesabınız var mı?</p>
						<input type="submit" value="Giriş Yap" asp-action="Index" asp-controller="Login" />
					</div> 
				</form>
			</div>
			<div class="login-agileits-bottom">
				<h6><a href="#">Şifremi Unuttum?</a></h6>
			</div>
			<div class="login-agileits-bottom1">
				<h3>Veya</h3>

			</div>
			<div class="social_icons agileinfo">
				<ul class="top-links">
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="https://www.google.com/"><i class="fa fa-google-plus"></i></a></li>
				</ul>
			</div>
			<div class="container">
				<main role="main" class="pb-3">
				</main>
			</div>

		</div>
	</div>
</div>
<!-- copyright -->
<div class="copyright">
	<p> © @DateTime.Now.Year Blend  Login Form. Tüm hakları saklıdır | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
</div>
<!-- //copyright --> *@